$body-bg: #e9eaed;
$navbar-default-bg: #fff;
$font-family-sans-serif:"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;

@import "bootstrap";

body {
    padding-bottom: 10px;
}

.list-group-item.media {
    margin-top: 0;
}

.pagination {
    padding-left: 10px;
}