<div class="panel panel-default ads">
    <ul class="list-group">
        <li class="list-group-item" style="padding: 0"><a href="http://docs.upyun.com/cdn/ssl/"><img src="{{ static_path }}/ads/upyun.jpg" style="width: 100%" alt="又拍云服务"></a></li>
    </ul>
</div>
