<div class="panel panel-default friendlist text-center">
    <div class="panel-heading">友情社区</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://golangtc.com/"><img src="{{ static_path }}/friend_logo/golang.png" alt=""></a></li>
        <li class="list-group-item"><a href="http://ruby-china.org/"><img src="{{ static_path }}/friend_logo/rubychina.png" alt=""></a></li>
    </ul>
</div>
