<div class="panel panel-default">
    <div class="panel-heading">友情社区</div>
    <ul class="list-group">
        <li class="list-group-item"><a href="http://golangtc.com/">Golang中国</a></li>
    </ul>
</div>
