{{#partial title}}top news - Rust China{{/partial}}
{{#partial page}}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">来自Hacker News的Rust热门文章</div>
                    <ul class="list-group">
                        <!--# include file="static/html/hacker_news.html" -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{~> base~}}
