<div class="panel panel-default">
    <div class="panel-heading text-center">统计信息</div>
    <ul class="list-group">
        <li class="list-group-item">社区会员: {{ users_count }} 人 </li>
        <li class="list-group-item">话题数: {{ articles_count }} 个 </li>
    </ul>
</div>
